*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    background: rgb(73,9,117);
    background: linear-gradient(214deg, rgba(73,9,117,0.9948354341736695) 26%, rgba(164,75,227,0.9948354341736695) 71%, rgba(138,0,242,0.7987570028011204) 89%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.layout{
    width: 40vw;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-style: italic;
    display: flex;
    flex-direction: column;
    background-color: rgba(179, 173, 173, 0.726);
    border-style: groove;
    border-radius: 5px;
}

input{
    width: 100%;
    border-radius: 5px;
}
form{
    padding: 10px;
    
}